### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [25]:
# Calculate player count
player_count = purchase_data_df['SN'].nunique()

# Create a player count data frame
players_total_df = pd.DataFrame({"Total Players": [player_count]})


players_total_df.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# Calculate unique item count
unique_items = purchase_data_df['Item ID'].nunique()

# Calculate average purchase price
avg_price = purchase_data_df['Price'].mean()

# Calculate total number of purchases
total_num_purchases = purchase_data_df['Purchase ID'].count()

# Calculate total revenue
revenue = purchase_data_df['Price'].sum()

# Place all of the data into a summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": "${:,.2f}".format(avg_price),
                              "Number of Purchases": total_num_purchases,
                              "Total Revenue": "${:,.2f}".format(revenue)})

summary_df.style.hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
# Calculate gender demographics

male_player_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
num_male_players = male_player_df['SN'].nunique()
percent_male_players = num_male_players/player_count*100

female_player_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
num_female_players = female_player_df['SN'].nunique()
percent_female_players = num_female_players/player_count*100

oth_player_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
num_oth_players = oth_player_df['SN'].nunique()
percent_oth_players = num_oth_players/player_count*100

# Place gender demographics in a data frame

gender_demographics_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],
                              "Number of Players": [num_male_players, num_female_players, num_oth_players],
                              "Percent of Total Players": [percent_male_players, percent_female_players, percent_oth_players]})

gender_demographics_df["Percent of Total Players"] = gender_demographics_df["Percent of Total Players"].astype(float).map("{:,.2f}%".format)

gender_demographics_df.style.hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
# Perform purchasing analysis 
male_purchases = male_player_df['Purchase ID'].count()
female_purchases = female_player_df['Purchase ID'].count()
oth_purchases = oth_player_df['Purchase ID'].count()

male_avg_price = male_player_df['Price'].mean()
female_avg_price = female_player_df['Price'].mean()
oth_avg_price = oth_player_df['Price'].mean()

male_tot_val = male_player_df['Price'].sum()
female_tot_val = female_player_df['Price'].sum()
oth_tot_val = oth_player_df['Price'].sum()

male_avg_val = male_tot_val/num_male_players
female_avg_val = female_tot_val/num_female_players
oth_avg_val = oth_tot_val/num_oth_players

# Place purchasing analysis in a data frame

gender_purchasing_df = pd.DataFrame({"Gender": ["Female", "Male","Other / Non-Disclosed"],
        "Purchase Count": [female_purchases,male_purchases,oth_purchases],
        "Average Purchase Price": [female_avg_price,male_avg_price,oth_avg_price],
        "Total Purchase Value": [female_tot_val,male_tot_val,oth_tot_val],
        "Avg Total Purchase per Person": [female_avg_val,male_avg_val,oth_avg_val]})

gender_purchasing_df["Average Purchase Price"] = gender_purchasing_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_purchasing_df["Avg Total Purchase per Person"] = gender_purchasing_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

gender_purchasing_df.style.hide_index()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
# Create the bins in which Data will be held   
bins = [0, 10, 15, 20, 29, 30, 40]

# Create the names for the bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data_df.groupby(pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)
purchase_data_df

SyntaxError: invalid syntax (<ipython-input-32-7aeb7b8972ea>, line 8)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80