In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
# Calculate player count
player_count = purchase_data_df['SN'].nunique()

# Create a data frame to store player count
players_total_df = pd.DataFrame({"Total Players": [player_count]})

# Print player count data frame
players_total_df.style.hide_index()

In [3]:
# Calculate unique item count
unique_items = purchase_data_df['Item ID'].nunique()

# Calculate average purchase price
avg_price = purchase_data_df['Price'].mean()

# Calculate total number of purchases
total_num_purchases = purchase_data_df['Purchase ID'].count()

# Calculate total revenue
revenue = purchase_data_df['Price'].sum()

# Place all of the data into a summary data frame
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": "${:,.2f}".format(avg_price),
                              "Number of Purchases": total_num_purchases,
                              "Total Revenue": "${:,.2f}".format(revenue)})

summary_df.style.hide_index()

In [4]:
# Calculate gender demographics

male_player_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
num_male_players = male_player_df['SN'].nunique()
percent_male_players = num_male_players/player_count*100

female_player_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
num_female_players = female_player_df['SN'].nunique()
percent_female_players = num_female_players/player_count*100

oth_player_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
num_oth_players = oth_player_df['SN'].nunique()
percent_oth_players = num_oth_players/player_count*100

# Place gender demographics in a data frame

gender_demographics_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],
                              "Total Count": [num_male_players, num_female_players, num_oth_players],
                              "Percentage of Players": [percent_male_players, percent_female_players, percent_oth_players]})

gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)

gender_demographics_df.style.hide_index()

In [5]:
# Perform gender purchasing analysis 
male_purchases = male_player_df['Purchase ID'].count()
female_purchases = female_player_df['Purchase ID'].count()
oth_purchases = oth_player_df['Purchase ID'].count()

male_avg_price = male_player_df['Price'].mean()
female_avg_price = female_player_df['Price'].mean()
oth_avg_price = oth_player_df['Price'].mean()

male_tot_val = male_player_df['Price'].sum()
female_tot_val = female_player_df['Price'].sum()
oth_tot_val = oth_player_df['Price'].sum()

male_avg_val = male_tot_val/num_male_players
female_avg_val = female_tot_val/num_female_players
oth_avg_val = oth_tot_val/num_oth_players

# Place gender purchasing analysis in a data frame

gender_purchasing_df = pd.DataFrame({"Gender": ["Female", "Male","Other / Non-Disclosed"],
        "Purchase Count": [female_purchases,male_purchases,oth_purchases],
        "Average Purchase Price": [female_avg_price,male_avg_price,oth_avg_price],
        "Total Purchase Value": [female_tot_val,male_tot_val,oth_tot_val],
        "Avg Total Purchase per Person": [female_avg_val,male_avg_val,oth_avg_val]})

gender_purchasing_df["Average Purchase Price"] = gender_purchasing_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchasing_df["Total Purchase Value"] = gender_purchasing_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_purchasing_df["Avg Total Purchase per Person"] = gender_purchasing_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

gender_purchasing_df.style.hide_index()

In [6]:
# Create age analysis data frame
player_age_df = pd.DataFrame(purchase_data_df,columns=["Purchase ID", "SN", "Age", "Price"])

# Create the bins in which data will be held   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

# Create the names for the bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Separate data into bins
player_age_df["Age Ranges"] = pd.cut(player_age_df["Age"], bins, labels=group_names, include_lowest=True)

# Store number of players by age group
total_player_count_in_agegroup = player_age_df.groupby(["Age Ranges"]).nunique()["SN"].rename("Total Player Count")

# Store percent of players in age group
percent_of_total_players = (total_player_count_in_agegroup/player_count*100)

# Store age demographics in a data frame

age_demographics_info = {"Age Ranges": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
        "Total Count": total_player_count_in_agegroup,
        "Percentage of Players": percent_of_total_players}

age_demographics_df = pd.DataFrame(age_demographics_info)

# Format percent values

age_demographics_df["Percentage of Players"] = age_demographics_df["Percentage of Players"].astype(float).map("{:,.2f}%".format)
 
# Print age demographics by age group
age_demographics_df.style.hide_index()

In [7]:
# Store purchase counts by age group
purchase_count = player_age_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Store average purchase price by age group
average_purchase_price = player_age_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")

# Store total purchase value by age group
total_purchase_value = player_age_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")

# Store average spent per player by age group
average_spent_per_person = (total_purchase_value/total_player_count_in_agegroup)


# Store age analysis in a data frame

age_analysis_info = {"Age Ranges": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
        "Purchase Count": purchase_count,
        "Average Purchase Price": average_purchase_price,
        "Total Purchase Value": total_purchase_value,
        "Avg Spent Per Person": average_spent_per_person}

age_purchasing_df = pd.DataFrame(age_analysis_info) 

# Format currency values

age_purchasing_df["Average Purchase Price"] = age_purchasing_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_purchasing_df["Total Purchase Value"] = age_purchasing_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_purchasing_df["Avg Spent Per Person"] = age_purchasing_df["Avg Spent Per Person"].astype(float).map("${:,.2f}".format)


# Print purchase analysis by age group
age_purchasing_df.style.hide_index()

In [8]:
# Calculate purchase count by player
spender_num_of_purchases = purchase_data_df.groupby(["SN"]).count()["Price"]

# Calculate value spent by player
spender_val_of_purchases = purchase_data_df.groupby(["SN"]).sum()["Price"]

# Calculate average value spent
spender_avg_purchase = spender_val_of_purchases/spender_num_of_purchases

# Store big spender info in a data frame

big_spender_info = {"Purchase Count": spender_num_of_purchases,
        "Average Purchase Price": spender_avg_purchase,
        "Total Purchase Value": spender_val_of_purchases}

big_spender_df = pd.DataFrame(big_spender_info)

# Sort big spender data frame by total purchase value decending
big_spender_df.sort_values(by=["Total Purchase Value"], inplace=True, ascending=False)

# Format currency values
big_spender_df["Average Purchase Price"] = big_spender_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
big_spender_df["Total Purchase Value"] = big_spender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)


# Print big spender data frame
big_spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [9]:
# Store item id and item name and item price

item_id = purchase_data_df["Item ID"]
item_name = purchase_data_df["Item Name"]
price = purchase_data_df["Price"]

# Calculate number purchased
num_purchased = purchase_data_df.groupby(["Item ID","Item Name"]).count()["Price"]

# Store price
price = purchase_data_df.groupby(["Item ID","Item Name"]).mean()["Price"]

# Calculate value spent on the item
val_purchased = purchase_data_df.groupby(["Item ID","Item Name"]).sum()["Price"]

# Store popular item info in a data frame

popular_item_info = {"Purchase Count": num_purchased,
        "Item Price": price,
        "Total Purchase Value": val_purchased}

popular_item_df = pd.DataFrame(popular_item_info)

# Sort popular item data frame by total purchase value decending
popular_item_df.sort_values(by=["Purchase Count"], inplace=True, ascending=False)

# Format currency values
popular_item_df["Item Price"] = popular_item_df["Item Price"].astype(float).map("${:,.2f}".format)
popular_item_df["Total Purchase Value"] = popular_item_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)


# Print most popular top 5
popular_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [10]:
profitable_item_info = {"Purchase Count": num_purchased,
        "Item Price": price,
        "Total Purchase Value": val_purchased}

profitable_item_df = pd.DataFrame(profitable_item_info)

# Sort data frame by most profitable
profitable_item_df.sort_values(by=["Total Purchase Value"], inplace=True, ascending=False)

# Format currency values
profitable_item_df["Item Price"] = profitable_item_df["Item Price"].astype(float).map("${:,.2f}".format)
profitable_item_df["Total Purchase Value"] = profitable_item_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# Print most profitable top 5
profitable_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80